/** 
 * Generic
 */
html {
  font-size: $typographic-root-font-size;
}

body {
  margin: 0;
  background-color: $color-background;
  font-family: $typographic-font-family;
  color: $typographic-base-font-color;
  line-height: $typographic-base-line-height;
  font-size: $typographic-base-font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: $align-left;
  direction: $direction;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $typographic-font-family;
  font-weight: 600;
}

h1 {
  font-size: $typographic-base-font-size * 2.5;
  @include line-height(2);
  @include margin-top(4);
  @include margin-bottom(1);
}

h2 {
  font-size: $typographic-base-font-size * 1.6875;
  @include line-height(1.5);
  @include margin-top(2);
  @include margin-bottom(.5);
}

h3 {
  font-size: $typographic-base-font-size * 1.375;
  @include line-height(1);
  @include margin-top(2);
  @include margin-bottom(.5);
}

h4 {
  font-size: $typographic-base-font-size * 1.2;
  @include line-height(1);
  @include margin-top(1.5);
  @include margin-bottom(.5);
}

h5 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

h6 {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin-top(2.5);
  @include margin-bottom(.5);
}

img {
  border: 0;
  max-width: 100%;
  display: block;
  margin: inherit auto;
}

hr {
  margin-top: 52px;
  margin-bottom: 52px;
  border: 0;
  color: $color-base;
  display: block;
  height: 26px;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 26px;
  background-image: linear-gradient(to bottom, transparent 1px, transparent 11px, $color-base 11px, $color-base 15px, transparent 15px, transparent 26px);
  width: 100px;
}

a {
  color: $typographic-link-p-font-color;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $typographic-link-s-font-color;
  }

}

b,
strong {
  font-weight: 600;
}

ul {
  list-style: square;
  @include margin-bottom(1);

  & li {
    padding: 0 5px;
    margin-bottom: 10px;
  }

}

p {
  @include line-height(1);
  @include margin-bottom(0.3);
  @include margin-top(0.3);
}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  @include line-height(.75);
  @include margin-top(.25);
  color: $color-base;
  font-size: $typographic-small-font-size;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -30px !important;
  padding-right: 14px !important;
}

table {
  border-collapse:collapse;
  border-spacing:0;
  empty-cells:show;
  border:1px solid #cbcbcb;
  text-align:center;
  margin: 0 auto;
  caption {
    color:#000;
    font:italic 85%/1 arial,sans-serif;
    padding:1em 0;
    text-align:center;
  }
  td,th {
    border-left:1px solid #cbcbcb;
    border-width:0 0 0 1px;
    font-size:inherit;
    margin:0;
    overflow:visible;
    padding:.5em 1em;
    text-align:center;
  }
  thead {
    background-color:#e0e0e0;
    color:#000;
    text-align:left;
    vertical-align:bottom;
  }
  td {
    background-color:transparent;
  }
}

.form-style-7 {
	max-width:800px;
	margin:50px auto;
	border-radius:2px;
  padding:20px;
  font-family: $typographic-font-family;
  h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size:x-large;
  }
  ul {
    list-style:none;
    padding:0;
    margin:0;	
  }
  li {
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
    :last-child{
      border:none;
      margin-bottom: 0px;
      text-align: center;
    }
    > label{
      display: block;
      float: $align-left;
      margin-top: -19px;
      background: #f4f4f4;
      height: 20px;
      padding: 2px 5px 2px 5px;
      color: #B9B9B9;
      font-size: 18px;
      overflow: hidden;
    }
    > span{
      display: block;
      padding: 3px;
      margin: 0 -9px -9px -9px;
      text-align: center;
      color: #C0C0C0;
      font-size: 14px;
    }
  }
  input[type="text"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="time"],
  input[type="url"],
  input[type="password"],
  textarea,
  select 
  {
    box-sizing: border-box;
    background-color: #f4f4f4;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 20px;
  }
  input[type="email"],
  input[type="number"],
  input[type="url"],
  input[type="password"],
  .form-style-7 textarea{
    text-align: left;
    direction: ltr;
  }
  input[type="submit"], input[type="button"]{
    background: $color-primary;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
    width:100%;
    :hover{
      background: $color-primary;
      color:#fff;
    }
  }
  textarea{
    resize:none;
    width:100%;
    height:400px;
    font-family: $typographic-font-family;
    text-align: right;
  }
}




@include breakpoint-sm {
  figure.float-left,
  figure.float-right {
    max-width: 310px;
    @include padding(0, 1, 0, 1);
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }

}